<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Citas</h3>
        </div>
        <div class="card-body">
            <form action="/appointments/edit-appointment/{{appointment._id}}?_method=PUT" method="POST">
                <div class="form-group">
                    <input type="text" name="description" class="form-control" disabled  value="{{appointment.Plate}}">
                </div>
                <p></p>
                <label for="status">Cambiar estado (1: Cumplida 0: Pendiente)</label>
                <select name="status" class="form-control" id="exampleFormControlSelect1" value="{{appointment.status}}">
                <option value="0">0</option>
                <option value="1">1</option>
                
                </select>
                <p></p>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>