<div class="col-md-4 mx-auto">
    {{#each errors }}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Huy ingresantes datos incorrectos</strong> Verifique.
        {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}
    <div class="card">
        <div class="card-header">
            <h3>Nuevo administrador</h3>
        </div>
        <div class="card-body">
            <form action="/admin/new-admin" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Ingrese nombre" autofocus>
                </div>
                <p></p>
                <div class="form-group">
                    <input type="text" name="lastname" class="form-control" placeholder="Ingrese apellido" autofocus>
                </div>
                <p></p>
                <div class="form-group">
                    <input type="text" name="CI" class="form-control" placeholder="Ingrese cedula" autofocus>
                </div>
                <p></p>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Ingrese un nombre de usuario">
                </div>
                <p></p>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Ingrese una contrasena">
                </div>
                <p></p>
                <div class="form-group">
                    <input type="password" name="confirmPassword" class="form-control" placeholder="Reingrese contrasena">
                </div>
                <p></p>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>