<div class="jumbotron mt-4">
    <h1 class="display-4">FastSplash</h1>
    <p class="lead">Where to wash your car happens in a Splash!</p>
    <hr class="my-4">
    <div class="row jumbotron">
        <img src="/img/principal.jpg" width="100%" alt="Car Wash">
    </div>
    </div> 
		<div class="row">
			<div class="jumbotron py-sm-2">
				<div class="row" style="justify-content: center;">
					<div class="col-md-12 my-4 mx-auto">
						<h2 class="text-center display-6">Check our service packages</h2>
						<hr>
						<div class="row no-gutters my-3">
							<div class="col-md-3 pr-2">
								<div class="list-group text-center my-4">
									<div class="list-group-item text-white bg-dark">
										<h5 class="text-center my-1">Basic</h5>
									</div>
									<div class="list-group-item text-uppercase font-weight-bold">
										5,50$
									</div>
									<a href="#" class="list-group-item">
										Wash Basic
									</a>
									<a href="#" class="list-group-item">
										1 hour duration
									</a>
									<a href="#" class="list-group-item">
										1 personal
									</a>
									<div class="list-group-item">
										<button class="btn btn-success btn-1g btn-block text-truncate">I'm interested</button>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="list-group text-center my-4">
									<div class="list-group-item text-white bg-dark">
										<h5 class="text-center my-1">Standard<br></h5>
									</div>
									<div class="list-group-item text-uppercase font-weight-bold">
										9,99$
									</div>
									<a href="#" class="list-group-item">
										Wash Standard
									</a>
									<a href="#" class="list-group-item">
										1:30 hour duration
									</a>
									<a href="#" class="list-group-item">
										2 personal
									</a>
									<a href="#" class="list-group-item">
										Tire Wash
									</a>
									<div class="list-group-item">
										<button class="btn btn-success btn-1g btn-block text-truncate">I'm interested</button>
									</div>
								</div>
							</div>
							<div class="col-md-3 pl-2">
								<div class="list-group text-center my-4">
									<div class="list-group-item text-white bg-dark">
										<h5 class="text-center my-1">Pro</h5>
									</div>
									<div class="list-group-item text-uppercase font-weight-bold">
										24.99$
									</div>
									<a href="#" class="list-group-item">
										Wash Pro
									</a>
									<a href="#" class="list-group-item">
										2 hours duration
									</a>
									<a href="#" class="list-group-item">
										2 personal
									</a>
									<a href="#" class="list-group-item">
										Tire Wash
									</a>
									<a href="#" class="list-group-item">
										Motor Wash
									</a>
									<a href="#" class="list-group-item">
										Apply discount in next wash
									</a>

									<div class="list-group-item">
										<button class="btn btn-success btn-1g btn-block text-truncate">I'm interested</button>
									</div>
								</div>
							</div>
                            <div class="col-md-3 pl-2">
								<div class="list-group text-center my-4">
									<div class="list-group-item text-white bg-dark">
										<h5 class="text-center my-1">Premium</h5>
									</div>
									<div class="list-group-item text-uppercase font-weight-bold">
										49.99$
									</div>
                                    <a href="#" class="list-group-item">
										Wash Premium
									</a>									
									<a href="#" class="list-group-item">
										3 hours duration
									</a>
									<a href="#" class="list-group-item">
										4 personal
									</a>
                                    <a href="#" class="list-group-item">
										Detailing the Engine
									</a>
                                    <a href="#" class="list-group-item">
										Deep Cleaning
									</a>
                                    <a href="#" class="list-group-item">
										Micropolished
									</a>
									<a href="#" class="list-group-item">
										Tire Wash
									</a>
									<a href="#" class="list-group-item">
										Motor Wash
									</a>
									<a href="#" class="list-group-item">
										Membership
									</a>

									<div class="list-group-item">
										<button class="btn btn-success btn-1g btn-block text-truncate">I'm interested</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic, obcaecati
        repudiandae nihil, similique dolore sint quidem deserunt possimus ex doloremque,
        ad nesciunt voluptates? Placeat mollitia in et reiciendis quod.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-1g">FaztWeb</a>
</div>