{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p>
        {{#each errors}}
        - {{text}}<br>
        {{/each}}
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}