<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid container">
        <a class="navbar-brand logo" href="/">
        {{#if user}}
            <img src="./img/isotipo.svg" alt="isotipo" width="43%">
            <img src="./img/logo-fastsplash.svg" alt="logo" width="57%">
        {{else}}
            <img src="./img/isotipo.svg" alt="isotipo" width="43%">
            <img src="./img/logo-fastsplash.svg" alt="logo" width="57%">
        {{/if}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contáctanos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" id="navbarSupportedContent">
                {{#if user}}
                {{#ifCond user.rol '==' 1}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cuenta
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Hacer cita</a></li>
                        <li><a class="dropdown-item" href="#">Historial</a></li>
                        <li><a class="dropdown-item" href="#">Mi Cuenta</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cliente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="./admin/clients">Clientes</a></li>
                        <li><a class="dropdown-item" href="./admin/admins">Administradores</a></li>
                        <li><a class="dropdown-item" href="#">Usuarios</a></li>
                        <li><a class="dropdown-item" href="./admin/services">Servicios</a></li>
                        <li><a class="dropdown-item" href="#">Citas</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
                {{/ifCond}}
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Inicia Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Regístrate</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>