<div class="row col-md-7 mx-auto">
    <h2 class="display-6">Usuarios</h2>
    <div class="mx-auto card">
        <div class="d-flex justify-content-end mt-3">
            <a href="/admin/add" class="btn btn-success btn-block me-2">Añadir Administrador</a>
            <a href="/admin/clients/new" class="btn btn-success btn-block">Añadir Cliente</a>
        </div>
        <hr>
        <div class="col-md-12 mx-auto  mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Rol</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <td scope="row">{{inc @index}}</td>
                        <td>{{userName}}</td>
                        {{#ifCond rol '==' 1}}

                        <td>Cliente</td>
                        {{else}}
                        <td>Administrador</td>
                        {{/ifCond}}



                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>