<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Servicio</h3>
        </div>
        <div class="card-body">
            <form action="/services/edit-service/{{service._id}}?_method=PUT" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" value="{{service.name}}">
                </div>
                <p></p>
                <div class="form-group">
                    <input type="text" name="description" class="form-control" value="{{service.description}}">
                </div>
                <p></p>
                <div class="form-group">
                    <input type="text" name="price" class="form-control" value="{{service.price}}">
                </div>

                <p></p>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>