<div class="col-md-4 mx-auto">
    {{#each errors }}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Huy ingresantes datos incorrectos</strong> Verifique.
        {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}
    <div class="card">
        <div class="card-header">
            <h3>Nuevo Servicio</h3>
        </div>
        <div class="card-body">
            <form action="/admin/new-services" method="POST">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Ingrese nombre nombre del servicio"
                        autofocus>
                </div>
                <p></p>
                <div class="form-group">
                    <input type="text" name="description" class="form-control"
                        placeholder="Ingrese descripcion del servicio">
                </div>
                <p></p>
                <div class="form-group">
                    <input type="text" name="price" class="form-control" placeholder="Ingrese el precio del servicio">
                </div>
                <p></p>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>