<div class="row">
    {{#each services}}
    <div class="col-md-3">
        <div class="list-group text-center my-4">
									<div class="list-group-item text-white bg-dark">
										<h5 class="text-center my-1"> {{ name }} <br></h5>
									</div>
                                    
									<div class="list-group-item text-uppercase font-weight-bold">
                                        <a><strong> servicio cuenta con:</strong></a>
										{{ description }}
									</div>
                                    <div class="list-group-item text-uppercase font-weight-bold">
                                          <a><strong>Precio dolares americanos</strong></a>
										{{ price }}
									</div>
                                   <div class="list-group-item">
										<button class="btn btn-success btn-1g btn-block text-truncate">Estoy interesado!</button>
									</div>
								</div>
       
    </div>
    {{/each}}
</div>